@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@layer utilities {
    .clip-message {

        clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 56% 76%, 55% 100%, 34% 75%, 0% 75%);  
    }
}

body {
    background-image: url("./assets/loading_orca_swim.gif");
}

.sharetech {
    font-family: 'Share Tech', sans-serif;
    font-weight: 400;
}

.pacifico {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
}